<h2 class='text-center'>Jr. Dev Mentoring's Community of <%= community_type %></h2>
<h4 class='text-center'>How does this work?</h4>
<p class='text-center'>1. Search through the profiles to find someone who you'd be interested in working with.<br> 2. Click on their avatar or name to view their complete profile.<br> 3. If this is someone you would like to work with, click on the <strong>"Click To Connect"</strong> button.<br> 4. An email will be sent to the requested connection, with instructions on next steps.</p>


<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <% if profiles.empty? %>
      <div class='alert alert-warning text-center'>No available <%= community_type.downcase %> at the moment. Kindly check back later</div>
    <% end %>

    <ul class="list-unstyled">
      <% profiles.each do |profile| %>
        <li>
          <div class='well row <%= cycle('', 'white-bg')%>'>
            <div class="col-sm-4 text-center">
              <%= link_to profile.user do %>
                <%= image_tag profile.avatar.url(:thumb), class: 'profile-index-avatar' %>
              <% end %>
            </div>
            <div>
              <%= link_to profile.user do %>
                <h3><%= profile.first_name %> <%= profile.last_name %></h3>
              <% end %>
              <h5><%= profile.city %>, <%= profile.state %>, <%= profile.country %></h5>
              <h5><%= profile.coding_languages %></h5>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>