<h2 class='text-center'>Jr. Dev Mentoring's Community of <%= community_type %></h2>
<h4 class='text-center'>How does this work?</h4>
<p class='text-center'>1. Search through the profiles to find someone who you'd be interested in working with.<br> 2. Click on their avatar or name to view their complete profile.<br> 3. If this is someone you would like to work with, click on the <strong>"Click To Connect"</strong> button.<br> 4. An email will be sent to the requested connection, with instructions on next steps.</p>


<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <% if users.empty? %>
      <div class='alert alert-warning text-center'>No available mentor/mentee at the moment. Kindly check back later</div>
    <% end %>

    <ul class="list-unstyled">
      <% users.each do |user| %>
        <li>
          <div class='well row <%= cycle('', 'white-bg')%>'>
            <div class="col-sm-4 text-center">
              <%= link_to user do %>
                <%= image_tag user.profile.avatar.url(:thumb), class: 'user-index-avatar' %>
              <% end %>
            </div>
            <div>
              <%= link_to user do %>
                <h3><%= user.profile.first_name %> <%= user.profile.last_name %></h3>
              <% end %>
              <h5><%= user.profile.city %>, <%= user.profile.state %>, <%= user.profile.country %></h5>
              <h5><%= user.profile.coding_languages %></h5>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>