<%= form_for @profile, url: user_profile_path, :html => { :multipart => true } do |f| %>
  <div class="form-group">
    <%= f.label :not_available do %>
    <%= f.check_box :not_available %>
    I am NOT available
    <% end %>
  </div>

  <div class="form-group">
    <p>Select all plan types you'll love to have on the platform</p>
    <%= f.label :plan_types do %>
      <%= f.collection_check_boxes :plan_types, Profile::PLAN_TYPES.map{|p| OpenStruct.new(name: p)}, :name, :name %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <div class="form-group">
    <%= f.label :contact_email %>
    <%= f.text_field :contact_email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :state %>
    <%= f.text_field :state, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :country %>
    <%= f.text_field :country, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :coding_languages, 'What coding languages are you learning? (1000 char. limit)' %>
    <%= f.text_area :coding_languages, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :bio, 'Bio (1000 character limit)' %>
    <%= f.text_area :bio, class: 'form-control' %>
  </div>
  <div class="form-group">
    <p>This is required for a "MENTEE" plan</p>
    <%= f.label :mentoring_needs, ' What are your mentoring needs? (Mentees ONLY - 1000 character limit)' %>
    <%= f.text_area :mentoring_needs, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit "Update Profile", class: 'btn btn-primary' %>
  </div>
<% end %>
