<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1 class="text-center">Let's Connect</h1>
      <h5 class="text-center">I'd like to connect with...</h5> 
      <div class="well">
        <%= form_for @connection do |f| %>
          <div class="form-group">
            <%= f.label :your_name, "Your Name" %>
            <%= f.text_field :your_name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email, "Your Email" %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :comments, "Mentor's Name" %>
            <%= f.text_area :mentors_name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :comments, "Mentees Name" %>
            <%= f.text_area :mentees_name, class: 'form-control' %>
          </div>
          
          <%= f.submit 'Submit', class: 'btn btn-default' %>
        <% end %>
      </div>
  </div>
</div>