<h2 class='text-center'>Jr. Dev Mentoring's Community of Mentors</h2>
<h4 class='text-center'>How does this work?</h4>
<p class='text-center'>1. Search through the profiles to find someone who you'd be interested in working with.<br> 2. Click on their avatar or name to view their complete profile.<br> 3. If this is someone you would like to work with, click on the <strong>"I'll Be Your Mentor"</strong> button and the Jr. Dev Mentoring team will take it from there.</p>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <ul class="list-unstyled">
            <% @mentors.each do |mentor| %>
            <li>
                <div class='well row <%= cycle('', 'white-bg')%>'>
                    <div class="col-sm-4 text-center">
                        <%= link_to mentor do %>
                            <%= image_tag mentor.profile.avatar.url(:thumb), class: 'user-index-avatar' %> 
                        <% end %>
                    </div>
                    <div>
                        <%= link_to mentor do %>
                            <h3><%= mentor.profile.first_name %></h3>
                        <% end %> 
                        <h5><%= mentor.profile.city %>, <%= mentor.profile.state %>, <%= mentor.profile.country %></h5>
                        <h5><%= mentor.profile.coding_languages %></h5>
                    </div>
                </div>
            </li>
            <% end %> 
        </ul>
    </div>
</div>