<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <% if @available_mentees %>
      <li role="presentation" class="active"><a href="#mentees" aria-controls="mentees" role="tab" data-toggle="tab">Mentees</a></li>
    <% end %>

    <% if @available_mentors %>
      <% if @available_mentees.nil? %>
        <li role="presentation" class="active"><a href="#mentors" aria-controls="mentors" role="tab" data-toggle="tab">Mentors</a></li>
      <% else %>
        <li role="presentation"><a href="#mentors" aria-controls="mentors" role="tab" data-toggle="tab">Mentors</a></li>
      <% end %>
    <% end %>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="row" style='padding: 10px;'>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <%= form_tag communities_path, method: :get, class: 'form-inline language-form' do %>
          <div class="form-group">
            <%= text_field_tag :query, params[:query],
            placeholder: 'Filter by programming language', type: :search, class: "form-control" %>
          </div>
          <%= button_tag(type: "submit", class: "btn btn-primary") do %>
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-4"></div>
    </div>
    <% if @available_mentees %>
      <div role="tabpanel" class="tab-pane active" id="mentees">
        <%= render 'profiles/community_profile', profiles: @available_mentees, community_type: 'Mentees' %>
      </div>
    <% end %>

    <% if @available_mentors %>
      <% if @available_mentees.nil? %>
        <div role="tabpanel" class="tab-pane active" id="mentors">
      <% else %>
        <div role="tabpanel" class="tab-pane" id="mentors">
      <% end %>
        <%= render 'profiles/community_profile', profiles: @available_mentors, community_type: 'Mentors' %>
      </div>
    <% end %>
  </div>
</div>
