<!DOCTYPE html>
<html>
<head>
  <title>JrDevMentoring</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header', community: mentor_mentee_profiles_path, root: mentor_root_path, account: edit_user_registration_path %>
<div class="container">
  <%= render 'layouts/flash_notice', flash: flash %>
  <%= yield %>
</div>

</body>
</html>
